@import "tailwindcss";

@font-face {
  font-family: 'Maharlika';
  src: url('/fonts/maharlika-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: #FFFFFF;
  color: var(--foreground);
  font-family: var(--font-inter), var(--font-cairo), system-ui, sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.textured-bg {
  background-color: #fafaf8;
  background-image:
    repeating-linear-gradient(90deg,
      transparent,
      transparent 2px,
      rgba(0, 0, 0, 0.02) 2px,
      rgba(0, 0, 0, 0.02) 4px),
    repeating-linear-gradient(0deg,
      transparent,
      transparent 2px,
      rgba(0, 0, 0, 0.02) 2px,
      rgba(0, 0, 0, 0.02) 4px);
}

.font-light {
  font-weight: 250;
}

.font-inter {
  --font-inter: 'Inter', sans-serif;
}

.text-xxs {
  font-size: 0.625rem;
}